.popup__container {
    position: relative;
    max-width: 430px;
    background-color: white;
    padding: 34px 36px 37px;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
        margin-bottom: 36px;
        padding: 25px 22px;
    }
}