.profile__info {
    display: grid;
    grid-template-columns: minmax(auto, 294px) auto;
    column-gap: 18px;
    row-gap: 12px;
}

@media screen and (max-width: 650px) {
    .profile__info {
        margin-top: 23px;
        grid-template-columns: minmax(auto, 190px) auto;
        column-gap: 10px;
        row-gap: 12px;
    }
}